@import 'style-guide-template/src/scss/partials/reset';
@import 'style-guide-template/src/scss/partials/prefix-mixins';
@import 'style-guide-template/src/scss/partials/layout'; // responsive grid and media queries


@import 'style-guide-template/src/scss/partials/colors';


@import 'style-guide-template/src/scss/partials/fonts';

html,
body {
	margin: 0;
	padding: 0;
	min-height: 100%;
}

html {
	font-size: 1em;
	background: transparent
}
header{
	filter:drop-shadow(.05em .05em #670d17);
  }
body {
	font-family: 'Raleway', sans-serif;
	// background-color: $background_color;
	background: $background_color url('style-guide-template/src/assets/branding/V8.svg') no-repeat fixed top right;
}

.intro {}

.preamble {
	margin: auto;
}

.main,
.preamble {
	width: 90%;
}

.preamble {
	margin-bottom: 4em;
}

.preamble p {
	color: white;
	line-height: 1.5;
	font-style: italic;
	mix-blend-mode: difference;
	font-weight: bold;
	filter:drop-shadow(.05em .05em #670d17);
}

.main-supporting {
	display: grid;
	grid-template-columns: auto auto auto;
	grid-template-rows: auto auto;
	background: transparent;
}

.explanation {
	grid-column: 1;
	grid-row: 1;
	margin: 3em auto;
	width: 80%;
	max-width: 30em;
	font-size: .8em;
	text-align: center;
	position: relative;
	background: $color-3;
	padding: 1em 2em;
	color: #fff;
	margin-bottom: 4em;
	box-sizing: border-box;
	border-radius: 9em;
}

.explanation p {
	opacity: 0;
}

.explanation p:hover {
	opacity: 1;
}

.participation {
	grid-column: 2;
	grid-row: 1;
	margin: 3em auto;
	width: 80%;
	max-width: 30em;
	font-size: .8em;
	text-align: center;
	background: $color-3;
	padding: 1em 2em;
	color: #fff;
	margin-bottom: 4em;
	box-sizing: border-box;
	border-radius: 9em;
}

.participation p {
	opacity: 0;
}

.participation p:hover {
	opacity: 1;
}

.benefits {
	grid-column: 3;
	margin: auto;
	width: 80%;
	max-width: 30em;
	font-size: .8em;
	text-align: center;
	background: $color-3;
	padding: 1em 2em;
	color: #fff;
	margin-bottom: 4em;
	box-sizing: border-box;
	border-radius: 9em;
}

.benefits p {
	opacity: 0;
}

.benefits p:hover {
	opacity: 1;
}

.requirements {
	grid-column: 1 / span 3;
	background: transparent;
	width: 80%;
}

.summary,
h1,
h2 {
	margin: 3em auto;
	width: 80%;
	max-width: 30em;
	font-size: .8em;
	text-align: center;
	position: relative;
	background: transparent;
	padding: 1em 2em;
	color: #fff;
	margin-bottom: 4em;
	box-sizing: border-box;
}


.summary a,
footer a {
	display: inline-block;
	background: transparent;
	padding: .25em;
	border-radius: .25em;
	text-decoration: none;
	color: #fff;
}

.summary a {
	display: inline-block;
	width: 5em;
	margin: 0 auto;
	text-align: center;
}

.summary a:first-child {
	margin-top: .5em;
}

.summary a:hover {
	background: #fff;
	color: black;
}

footer a:hover {
	background: blue;
	color: #fff;
}


header,
h3 {
	font-family: 'Lora', cursive;
}

header {
	text-align: center;
	padding: 0 1em;
	font-size: 2em;
}

h1 {
	font-size: 3em;
	line-height: 1;
	margin-bottom: 0;
}

h2 {
	color: white;
	margin-bottom: 1.5em;
}

h3 {
	font-size: 1.8em;
	letter-spacing: .05em;
}

.main h3,
.preamble h3 {
	border-bottom: .2em solid black;
	padding-bottom: .1em;
	margin-bottom: .55em;
}

.wrapper h3 {
	margin-bottom: 0;
}

aside {
	background: transparent;
	border-bottom: .5em solid black;
	color: white;
	padding: 0 1em 2em 1em;
}

a {
	color: black;
}

a:hover {
	color: #ff0000;
}

aside a {
	font-weight: bold;
}

abbr {
	text-decoration: none;
}

p[role="contentinfo"] {
	border-top: .2em solid black;
	padding-top: 1em;
}

.design-name {
	display: block;
	text-transform: uppercase;
}

.design-selection {
	background: url('style-guide-template/src/assets/branding/Tall_Pinstripe.svg') no-repeat right;
}

.design-selection li {
	margin-bottom: .75em;
}

footer {
	margin-bottom: 4em;
	display: flex;
	flex-wrap: wrap;
}

footer a {
	flex-grow: 1;
	text-align: center;
	margin: .25em;
}

.sidebar h3 {
	margin-top: 0;
	padding-top: .35em;
	font-size: 1.5em;
}

.wrapper div {
	margin: 0 .5em;
}

@media screen and (min-width: 45em) {
	.wrapper {
		display: flex;
		margin-left: 5%;
	}

	.wrapper a {
		font-size: .8em;
	}

	.wrapper div {
		flex-grow: 1;
	}

	.summary p+p {
		display: block;
	}

	.main,
	.preamble {
		width: 60%;
		max-width: calc(42em + .5vw);
	}

	.extra1 {}

}