/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block;
}
header{
  filter:drop-shadow(.05em .05em #670d17);
}
body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
}

html {
  font-size: 1em;
  background: transparent;
}

body {
  font-family: "Raleway", sans-serif;
  background: #B5D7CB url("style-guide-template/src/assets/branding/V8.svg") no-repeat fixed top right;
}

.preamble {
  margin: auto;
}

.main,
.preamble {
  width: 90%;
}

.preamble {
  margin-bottom: 4em;
}

.preamble p {
  color: white;
  line-height: 1.5;
  font-style: italic;
  mix-blend-mode: difference;
  font-weight: bold;
  filter:drop-shadow(.05em .05em #670d17);
}

.main-supporting {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  background: transparent;
}

.explanation,
.participation,
.benefits {
  top: 0%;
  width: 100%;
  height: 100%;
  transition: .5s all ease;
  transform: rotateX(60deg) scale(0.7);
  perspective: 900px;
  box-shadow: 0px 20px 50px #555;
  animation: entry 1s linear 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.explanation {
  grid-column: 1;
  grid-row: 1;
  margin: 3em auto;
  width: 80%;
  max-width: 30em;
  font-size: 0.8em;
  text-align: center;
  position: relative;
  background: #670d17;
  padding: 1em 2em;
  color: #fff;
  margin-bottom: 4em;
  box-sizing: border-box;
  border-radius: 9em;
}

.explanation h3 {
  display: flex;
  justify-content: center;
}

.explanation p {
  opacity: 0;
}

.participation {
  grid-column: 2;
  grid-row: 1;
  margin: 3em auto;
  width: 80%;
  max-width: 30em;
  font-size: 0.8em;
  text-align: center;
  background: #670d17;
  padding: 1em 2em;
  color: #fff;
  margin-bottom: 4em;
  box-sizing: border-box;
  border-radius: 9em;
}

.participation a {
  color: white;
}

.participation p {
  opacity: 0;
}

.benefits {
  grid-column: 3;
  grid-row: 1;
  margin: 3em auto;
  width: 80%;
  max-width: 30em;
  font-size: 0.8em;
  text-align: center;
  background: #670d17;
  padding: 1em 2em;
  color: #fff;
  margin-bottom: 4em;
  box-sizing: border-box;
  border-radius: 9em;
}

.benefits p {
  opacity: 0;
}

.explanation:hover,
.participation:hover,
.benefits:hover {
  cursor: pointer;
  transform: rotate(0deg) scale(1.3) translateY(10px);
  transition: .5s all ease;
  z-index: 400;
}

.explanation p:hover {
  opacity: 1;
}

.participation p:hover {
  opacity: 1;
}

.requirements {
  grid-column: 1/span 3;
  background: transparent;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 60%;
  justify-content: center;
  align-items: center;
  justify-items: center;
  text-align: center;
  margin: auto;
  mix-blend-mode: difference;
  filter:drop-shadow(.05em .05em white);
}

.benefits p:hover {
  opacity: 1;
}

.summary,
h1,
h2 {
  margin: 3em auto;
  width: 80%;
  max-width: 30em;
  font-size: 0.8em;
  text-align: center;
  position: relative;
  background: transparent;
  padding: 1em 2em;
  color: #fff;
  margin-bottom: 4em;
  box-sizing: border-box;
}

.summary a,
footer a {
  display: inline-block;
  background: transparent;
  padding: 0.25em;
  border-radius: 0.25em;
  text-decoration: none;
  color: #fff;
}

.summary a {
  display: inline-block;
  width: 5em;
  margin: 0 auto;
  text-align: center;
}

.summary a:first-child {
  margin-top: 0.5em;
}

.summary a:hover {
  background: #fff;
  color: black;
}

footer a:hover {
  background: blue;
  color: #fff;
}

header,
h3 {
  font-family: "Lora", cursive;
}

header {
  text-align: center;
  padding: 0 1em;
  font-size: 2em;
}

h1 {
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0;
}

h2 {
  color: white;
  margin-bottom: 1.5em;
}

h3 {
  font-size: 1.8em;
  letter-spacing: 0.05em;
}

.main h3,
.preamble h3 {
  border-bottom: 0.2em solid black;
  padding-bottom: 0.1em;
  margin-bottom: 0.55em;
}

.wrapper h3 {
  margin-bottom: 0;
}

aside {
  background: transparent;
  border-bottom: 0.5em solid black;
  color: white;
  padding: 0 1em 2em 1em;
}

a {
  color: black;
}

a:hover {
  color: #ff0000;
}

aside a {
  font-weight: bold;
}

abbr {
  text-decoration: none;
}

p[role=contentinfo] {
  border-top: 0.2em solid black;
  padding-top: 1em;
}

.design-name {
  display: block;
  text-transform: uppercase;
}

.design-selection {
  background: url("style-guide-template/src/assets/branding/Tall_Pinstripe.svg") no-repeat right;
}

.design-selection li {
  margin-bottom: 0.75em;
}

footer {
  margin-bottom: 4em;
  display: flex;
  flex-wrap: wrap;
  
}

footer a {
  flex-grow: 1;
  text-align: center;
  margin: 0.25em;
  color: black;
}

.sidebar h3 {
  margin-top: 0;
  padding-top: 0.35em;
  font-size: 1.5em;
}

.wrapper div {
  margin: 0 0.5em;
}

@media screen and (min-width: 45em) {
  .wrapper {
    display: flex;
    margin-left: 5%;
  }

  .wrapper a {
    font-size: 0.8em;
  }

  .wrapper div {
    flex-grow: 1;
  }

  .summary p+p {
    display: block;
  }

  .main,
  .preamble {
    width: 60%;
    max-width: calc(42em + .5vw);
  }
}

/*# sourceMappingURL=style.css.map */