// color palette - these colors will be the color swatches of the Colors section

$color-1: #2a6ff0; // Blue
$color-2: #000000; // Black
$color-3: #ff0d00; // Red
$color-4: #b00bf1; // Purple
$color-5: #ffffff; // white

// additional colors

$success: $color-4; // purple
$alert: $color-3; // red
